* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: url(../imagens/fundo.png) repeat-x left top;
}

#topo {
	height: 150px;
	padding: 25px;
	background: url(../imagens/detalhe-topo.png) right no-repeat;
}

#body {
	width: 900px;
	margin: 0 auto;
}

.conteudo {
	margin-top: 40px;
}

#principal {
	margin: 0 0 0 205px;
	width: 390px;
	float: left;
}

#duas-colunas #body .conteudo #principal {
	margin: 0 0 0 205px;
	width: 695px;
	float: left;
}

#uma-coluna #body .conteudo #principal {
	margin: 0;
	width: 900px;
	float: left;
}

.uma-coluna #principal {
	width: 900px;
}

#secundario {
	margin: 0 0 0 15px;
	width: 290px;
	float: left;
}

#lateral {
	margin: 0 0 0 -900px;
	width: 190px;
	float: left;
}

#rodape {
	clear: both;
	margin-top: 80px;
	background: #294c71;
	line-height: 60px;
	color: #fff;
	text-align: center;
}

.logo {
	width: 152px;
	height: 66px;
	margin: 10px;
	background: url(../imagens/logo.png) no-repeat;
	text-indent: -6000px;
}

#topo ul {
	margin-top: 25px;
	list-style: none;
	background: #8D1919;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a {
	color: #fff;
	float: left;
	padding: 10px 15px; 
	text-decoration: none;
	display: block;
	background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
	background: none;
}

/* Links quando passa o cursor por cima */
#topo ul a:hover{
	background: #CE2222;
	color: #660000;
}

body.home .menu-superior a#home,
body.brasil .menu-superior a#brasil,
body.internacional .menu-superior a#internacional,
body.fotos .menu-superior a#fotos {
	background: #CE2222;
	color: #fff;
}

.caixa {
	background: #E0E0E0 url(../imagens/fundo-caixa.png);
	margin-bottom: 20px;
	padding: 10px;
}

.topico {
	background: #294c71;
	padding: 5px 0 5px 10px;
	color: white;
	font-size: 1.1em;
}

.caixa-conteudo {
	background: white;
	margin-top: 10px;
	padding: 5px 0 5px 10px;
}

#lateral ul {
	list-style: none;
}

#lateral ul a {
	color: black;
	text-decoration: none;
	line-height: 35px;
}

#lateral ul a:hover {
	color: gray;
	background: url(../imagens/marcador.png) no-repeat center left;
	padding-left: 20px;
}

label {
	margin: 5px 0 0 0;
	cursor: pointer;
}

input {
	margin: 5px 0 5px 0;
	height: 30px;
	width: 95%;
	font-size: 13px;
	border: none;
}

input.submit {
	color: white;
	font-size: 1em;
	width: 95%;
	background-color: #b10333;
	border: 2px solid #870529;
}

img {
	border: 2px solid #dfdfdf;
}
.destaque img {
	margin-top: 7px;
}

.destaque h3 {
	text-transform: uppercase;
	background-color: #b10333;
	color: white;
	display: inline;
	padding: 3px;
	font-size: 0.9em;
}

ul li img {
	width: 80px;
	float: left;
	margin-right: 5px;
}

ul {
	list-style: none;
}

li.mundo {
	cursor: pointer;
	margin-bottom: 10px;
	float: both;
	height: 62px;
}

ul li h3 {
	color: #00BFFF;
	text-transform: uppercase;
	font-size: 0.8em;
}

ul li a.mundo {
	color: black;
	text-decoration: none;
	font-size: 0.7em;
}
