* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: url(../imagens/fundo.png) repeat-x left top;
}

#topo {
	height: 150px;
	padding: 25px;
	background: url(../imagens/detalhe-topo.png) right no-repeat;
}

#body {
	width: 900px;
	margin: 0 auto;
}

.conteudo {
	margin-top: 40px;
}

#principal {
	background: red;
	margin: 0 0 0 205px;
	width: 390px;
	float: left;
}

#secundario {
	background: blue; 
	margin: 0 0 0 15px;
	width: 290px;
	float: left;
}

#lateral {
	background: green;
	margin: 0 0 0 -900px;
	width: 190px;
	float: left;
}

#rodape {
	margin-top: 80px;
	background: #294c71;
	line-height: 60px;
	color: #fff;
	text-align: center;
	clear: both;
}

.logo {
	width: 152px;
	height: 66px;
	margin: 10px;
	background: url(../imagens/logo.png) no-repeat;
	text-indent: -6000px;
}

#topo ul {
	margin-top: 25px;
	list-style: none;
	background: #8D1919;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a {
	color: #fff;
	float: left;
	padding: 10px 15px; 
	text-decoration: none;
	display: block;
	background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
	background: none;
}

/* Links quando passa o cursor por cima */
#topo ul a:hover{
	background: #CE2222;
	color: #660000;
}

body.home .menu-superior a#home,
body.brasil .menu-superior a#brasil,
body.internacional .menu-superior a#internacional,
body.fotos .menu-superior a#fotos {
	background: #CE2222;
	color: #fff;
}



